{% extends "core/base.html" %}
{% block title %}Om{% endblock title %}
{% block content %}

<div class="container">
    <div class="m-5">

    <h1>Välkommen till vår loppmarknad!</h1>
    <p>För att säkerställa en positiv och trygg upplevelse för alla våra användare, har vi utformat följande policy som reglerar användningen av vår webbplats. Genom att använda våra tjänster samtycker du till att följa dessa regler och villkor.</p>
  
    <h2>1. Användaransvar:</h2>
    <ul>
      <li>Du ansvarar för allt innehåll och information som du publicerar på vår webbplats.</li>
      <li>Du måste tillhandahålla korrekta och aktuella uppgifter vid registrering och vid publicering av annonser.</li>
      <li>Du får inte dela olagligt, bedrägligt, vilseledande, våldsamt, stötande eller diskriminerande innehåll.</li>
    </ul>
  
    <h2>2. Annonsplacering:</h2>
    <ul>
      <li>Annonser måste vara relevanta för loppmarknaden och överensstämma med gällande lagar och regler.</li>
      <li>Du får inte publicera annonser som bryter mot upphovsrätt, varumärkesrätt eller andra immateriella rättigheter.</li>
      <li>Var tydlig och ärlig i beskrivningen av dina produkter eller tjänster och ange eventuella skador eller defekter.</li>
    </ul>
  
    <h2>3. Kommunikation:</h2>
    <ul>
      <li>Var artig, respektfull och vänlig i all kommunikation med andra användare.</li>
      <li>För att undvika bedrägerier eller obehagliga situationer bör du kommunicera genom vår webbplats och undvika att dela personlig information i tidiga skeden.</li>
    </ul>
  
    <h2>4. Betalningar och transaktioner:</h2>
    <ul>
      <li>Alla betalningar och transaktioner sker direkt mellan köpare och säljare. Vi ansvarar inte för eventuella problem eller tvister som kan uppstå.</li>
      <li>Använd säkra betalningsmetoder och var försiktig med att dela känslig information såsom kreditkortsnummer eller bankkontonummer.</li>
    </ul>
  
    <h2>5. Användarrecensioner:</h2>
    <ul>
      <li>Du kan lämna recensioner om andra användare baserat på dina erfarenheter. Var ärlig och rättvis i dina omdömen och undvik personliga påhopp eller kränkningar.</li>
    </ul>
  
    <h2>6. Regelbrott och rapportering:</h2>
    <ul>
      <li>Om du upptäcker att någon bryter mot våra regler, rapportera det till oss omedelbart.</li>
      <li>Vi förbehåller oss rätten att vidta åtgärder, inklusive att ta bort annonser eller stänga av användare, om reglerna inte följs.</li>
    </ul>
  
    <p>Genom att använda vår webbplats godkänner du att vi kan samla in och behandla viss personlig information enligt vår sekretesspolicy.</p>
  
    <strong>Tack för att du respekterar våra regler och bidrar till att skapa en positiv och säker loppmarknadsupplevelse för alla användare!</strong>

</div>
</div>

{% endblock content %}