{% extends "core/base.html" %}
{% include 'core/footer.html' %}

{% block title %}Welcome{% endblock %}
{% block content %}
<div class="bg-light">
    <h2 class=" text-center m-3">Nya</h2>
    <div class="container justify-content-center">
        <div class="row">
            {% for item in items %}
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="card">
                <a href="{% url 'item:detail' item.id %}">
                    <img
                    src="{{ item.image.url }}"
                    class="w-100 shadow rounded card-img-top mb-4"
                    onerror="if (this.src != 'error.jpg') this.src = 'https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg';"
                    />

                    <div class="bg-white rounded card-body">
                        <h2 class="card-title">{{item.name}}</h2>
                        <p class="card-text">{{item.price}}€</p>
                    </div>
                </a>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="bg-light">
    <h2 class=" text-center m-3">Categoires</h2>
    <div class="container">
        <div class="row justify-content-md-center">
        {% for category in categories  %}
        <div class="col-sm">
            <a href="#">

            <div class="rounded shadow p-2">
                <h2 class="text-2">{{category.name}}</h2>
                <p class="text-gray-500">{{category.items.count}}items</p>
            </div>
        </a>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

<br><br>

{% endblock %}