{% extends "core/base.html" %}
{% include 'core/footer.html' %}

{% block title %}Welcome{% endblock %}
{% block content %}

        <!-- Popular categories -->
        <div class="container">
            <div class="d-flex flex-wrap flex-row justify-content-center mt-4">
            {% for category in popular_categories  %}
            {% if category.get_item_count == 0 %}
            {% else %}
            <div class="m-1">
                <a href="{% url 'item:browse' %}?query={{ category.name }}">
                <div class="rounded-pill shadow bg-dark text-light">
                    <p class="text-center align-middle p-2 px-4"><strong>{{category.name}}</strong> {{category.get_item_count}}</p>
                </div>
            </a>
            </div>
            {% endif %}
            

            {% endfor %}
            </div>
            <hr />
        </div>
        
        <!-- Slogan -->
        <div class="container">
            <h3 class="text-muted text-center p-3">{{ random_slogan }} </h3>
        </div>

        <!-- List -->
        <div class="container justify-content-center">
            <div class="row">
                {% for item in items %}
                {% include 'core/list.html' %}
                {% endfor %}
            </div>
        </div>

                <!-- Navigation -->
                <div class="container">
                    <div class="d-flex justify-content-center my-4 ">
                        {% if items.has_previous %}
                            <a href="?page=1" class="btn btn-primary m-1">&laquo; first</a>
                            <a href="?page={{ items.previous_page_number }}" class="btn btn-primary m-1">previous</a>
                        {% else %}
                            <a href="#" class="btn btn-secondary m-1">&laquo; first</a>
                            <a href="#" class="btn btn-secondary m-1">previous</a>
                        {% endif %}
                
                        <div class="btn btn-light m-1 btn-outline-dark" style="pointer-events: none">{{ items.number }}</div>
                
                        {% if items.has_next %}
                            <a href="?page={{ items.next_page_number }}" class="btn btn-primary m-1">next</a>
                            <a href="?page={{ items.paginator.num_pages }}" class="btn btn-primary m-1">last &raquo;</a>
                        {% else %}
                            <a href="#" class="btn btn-secondary m-1">next</a>
                            <a href="#" class="btn btn-secondary m-1">&raquo; last</a>
                        {% endif %}
                    </div>
                </div>
{% endblock %}