{% load static %}


        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="card mb-4 shadow">
            <a href="{% url 'item:detail' item.id %}">

              <div class="image-container">
                <img
                  data-src="{{ item.image.url }}"
                  alt="{{ item.name }}"
                  class="item-image lazy w-100 shadow rounded-top card-img-top"
                />
                <div class="placeholder"></div>
              </div>

                <table class="table table-sm table-dark table-borderless rounded-bottom card-body bg-dark m-0">
                    <tbody>
                      <tr>
                        <td class="d-flex flex-row justify-content-between align-middle m-2">
                          <h4 class="card-title pt-1">{{item.price}}€</h4>
                          <div class="btn btn-light text-dark pe-none" aria-label="Status">
                            <div class="row p-0 m-0">
                              {% if item.status|lower == 'skicka' %}
                                <img src="{% static 'skicka.svg' %}" class="col p-0 " width="20px" height="20px" style="margin-top: .1rem" alt="Skicka"/>
                                <p class="col p-0 m-0 px-1">Skickas</p>
                              {% elif item.status|lower == 'hämta' %}
                                <img src="{% static 'ta_emot.svg' %}" class="col p-0 " width="20px" height="20px" style="margin-top: .2rem" alt="Hämta"/>
                                <p class="col p-0 m-0 px-1">Hämta</p>
                              {% elif item.status|lower == 'träffa' %}
                                <img src="{% static 'träffa.svg' %}" class="col-sm p-0" width="20px" height="20px" style="margin-top: .1rem" alt="Träffa" />
                                <p class="col-sm p-0 m-0 px-1">{{ item.status }}</p>
                              {% endif %}
                            </div>
                          </div>
                        </td>
                        <td class="d-flex flex-row justify-content-between align-middle m-2">
                          <h4 class="card-text col-sm m-0 p-0">{{item.name|truncatechars:14}}</h4>
                          <p class="card-text text-secondary m-0 p-0">{{item.created_at|date:"d M Y"}}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  

            </a>
        </div>
        </div>
<script>
  $(document).ready(function () {
    $(".item-image").each(function () {
      var image = $(this);
      var src = image.data("src");
      var placeholder = image.siblings(".placeholder");
  
      // Preload the real image
      var img = new Image();
      img.src = src;
      img.onload = function () {
        // Replace the placeholder with the real image
        image.attr("src", src).addClass("loaded"); // Add the "loaded" class to trigger the transition
        placeholder.remove();
      };
    });
  });
</script>  