{% extends 'core/base.html' %}

{% block title %}
    Logga in
{% endblock %}

{% block content %}
    <div class="w1/2 my-6 mx-auto m-3 p-5 text-dark border rounded shadow">
        <h1 class="">Logga in</h1>

        <form method="post" action=".">
            {% csrf_token %}
            <div class="mb-2 form-group mx-auto">
                <div>
                    Användarnamn {{ form.username}}
                    {% if form.username.errors %}
                    <div class="p-2 mt-2 alert alert-danger text-center">
                         {{form.username.errors.as_text}}
                    </div>
                    {% endif %}
                </div>
                
                <div>
                    Lösenord {{ form.password}}
                    {% if form.password.errors %}
                    <div class="p-2 mt-2 alert alert-danger text-center">
                         {{form.password.errors.as_text}}
                    </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary me-2" onclick="this.disabled=true,this.form.submit();">Logga in</button>
            </div>
        </form>
    </div>
{% endblock %}
