{% extends 'core/base.html' %}


{% block title %}Sign up{% endblock  %}
    


{% block content %}
    <div class="w1/2 my-6 mx-auto rounded m-3 p-5 text-dark border rounded shadow">
        <h1 class="">Login</h1>

        <form method="post" action=".">
            {% csrf_token %}

            <div class="mb-2 form-group">
                <label for="username" class="form-control-label mb-2">Username</label><br>
                {{ form.username }}
            </div>

            <div class="mb-2 form-group">
                <label for="password" class="form-control-label mb-2" >Password</label><br>
                {{ form.password}}
            </div>


            {% if form.non_field_errors or form.errors %}
                <div>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {{ form.none_field_error }}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
{% endblock  %}
    