{% extends 'core/base.html' %}

{% load socialaccount %}

{% block title %}
    Registrera
{% endblock %}

{% block content %}
    <div class="w1/2 my-6 mx-auto m-3 p-5 text-dark border rounded shadow">
        <h2 class="my-4 text-center">Registrera</h2>

        <form method="post" action=".">
            {% csrf_token %}
            <div class="mb-2 form-group mx-auto">
                <div>
                    <label for="{{ form.username.id_for_label }}">Användarnamn</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="p-2 mt-2 alert alert-danger text-center">
                            {% for error in form.username.errors %}
                                {{ error|striptags }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div>
                    <label for="{{ form.email.id_for_label }}">E-postadress</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="p-2 mt-2 alert alert-danger text-center">
                            {% for error in form.email.errors %}
                                {{ error|striptags }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div>
                    <label for="{{ form.password1.id_for_label }}">Lösenord</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="p-2 mt-2 alert alert-danger text-center">
                            {% for error in form.password1.errors %}
                                {{ error|striptags }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div>
                    <label for="{{ form.password2.id_for_label }}">Bekräftelse</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="p-2 mt-2 alert alert-danger text-center">
                            {% for error in form.password2.errors %}
                                {{ error|striptags }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="my-4">

                <button type="submit" class="btn btn-primary me-2" onclick="this.disabled=true,this.form.submit();">Registrera</button>

                <button class="btn btn-outline-primary">
                    <a href="{% provider_login_url 'google'%}?next/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-google" viewBox="0 0 16 20">
                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                      </svg>
                    Registrera med Google
                    </a>
                </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
