{% extends 'core/base.html' %}

{% load static %}


{% block title %}
    Browse
{% endblock  %}
    

{% block content %}
<div class="container ">

  <div class=" p-2">
    <form method="GET" action="{% url 'item:browse' %}">

      <div class=" pt-3 px-3 mt-3 w-100 d-flex justify-content-center bg-dark rounded-top">
        <div class="input-group mx-2">
          <input type="text" name="query" value="{{ query }}" class="form-control" placeholder="Search by name, description, category, or status"/>
        </div>

        <button class="btn btn-primary mx-2" type="submit" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
      
      <div class=" w-100 d-flex justify-content-center bg-dark p-3 rounded-bottom">
      <!-- Add a new input field for the 'price' query input -->
      <input type="number" name="max_price" value="{{ max_price }}" placeholder="Maximum Price" class="form-control mx-2"/>
      <!-- Add a new input field for the 'price' query input -->
      <input type="number" name="min_price" value="{{ min_price }}" placeholder="Minimum Price" class="form-control mx-2"/>

      </div>
    </form>
  </div>
    
    <h2 class=" text-center m-3">Bläddra</h2>
                
    <div class="container justify-content-center">
        <div class="row">
            {% for item in items %}
            {% include 'core/list.html' %}
            {% endfor %}
        </div>
    </div>



  </div>

{% endblock %}