{% extends 'core/base.html' %}


{% block title %}
    Browse
{% endblock  %}
    

{% block content %}
    <div class="container">
        <div class="d-flex flex-column bd-highlight">

        <div class="p-2 w-100 flex-shrink-1 bd-highlight">
            <div class="bg-light container justify-content-center border rounded shadow p-2">
            <form mehtod="GET" action="{% url 'item:browse' %}" class="form-outline">
                <div class="input-group">
                <input name="query" type="text" class="form-control" value="{{query}}" placeholder="Search">
                <button class="btn btn-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                </button>
                </div>
            </form>

            </div>
            </div>
        </div>
    </div>

        <div class="p-2 w-100 bd-highlight">

            <div class="container">
                <div class="row">

                <div class="col-lg-3 col-md-12">
                    <hr>

                    <p class=""> Categories</p>
                    <ul>
                        {% for category in categories %}
                        <li class="list-group-item {% if category.id == category_id %} bg-secondary{% endif %}">
                            <a href="{% url 'item:browse' %}?query={{query}}&category={{category.id}}">
                                {{ category.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
        
                    <hr>
        
                    <p class=""> Clear filters</p>
        
                    <ul>
                        <li class="list-group-item"> <a href="{% url 'item:browse' %}" class="btn btn-primary">Reset</a></li>
                    </ul>
                </div>   


                <div class="col-lg-9 col-md-12">
                <h2 class=" text-center m-3">Browse</h2>
                <div class="container justify-content-center">
                    <div class="row">
                        {% for item in items %}
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <div class="card mb-4 shadow">
                            <a href="{% url 'item:detail' item.id %}">
                                <img
                                data-src="{{ item.image.url }}" 
                                alt="{{ item.name }}"
                                class="lazy w-100 shadow rounded-top card-img-top "
                                />
            
                                <div class="bg-dark text-light rounded-bottom card-body">
                                    <h2 class="card-title">{{item.name}}</h2>
                                    <p class="card-text">{{item.price}}€</p>
                                </div>
                            </a>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}