{% extends 'core/base.html' %}

{% load static %}


{% block title %}
    Browse
{% endblock  %}
    

{% block content %}
<div class="container">
      
      
        <form method="GET" action="{% url 'item:browse' %}" class="m-0">

              <div class="input-group p-2  pt-4">
                    <input type="text" name="query" value="{{ query }}" class="form-control shadow" placeholder="Sök efter namn, beskrivning, kategori eller status"/>
                  <button class="btn btn-primary" type="submit" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                  </button>
                </div>


              <div class="row text-center border shadow rounded bg-dark text-light mx-2 pb-3">
              <div class="col-md-3 m-0">
              <!-- Add a new input field for the 'price' query input -->
              <label for="created_from" class="form-label pt-2">Maximum pris</label>
              <input type="number" name="max_price" value="{{ max_price }}" placeholder="Maximum Pris" class="form-control"/>
              </div>

              <div class="col-md-3 m-0">
              <!-- Add a new input field for the 'price' query input -->
              <label for="created_from" class="form-label pt-2">Minimum pris</label>
              <input type="number" name="min_price" value="{{ min_price }}" placeholder="Minimum Pris" class="form-control"/>
              </div>

              <div class="col-md-3 m-0">
              <label for="created_from" class="form-label pt-2">Från</label>
              <input type="date" name="created_from"  class="form-control date" data-provide="datepicker" value="{{ created_from }}"/>
              </div>

              <div class="col-md-3 m-0">
              <label for="created_to" class="form-label pt-2">Till</label>
              <input type="date" name="created_to"  class="form-control date" data-provide="datepicker" value="{{ created_to }}"/>
              </div>

              <div class="col-md-3 m-0">
                <label for="category" class="form-label pt-2">Kategori</label>
                <select name="category" class="form-control">
                  <option value="">Alla kategorier</option>
                  {% for group in categories_group %}
                    <optgroup label="{{ group.name }}">
                      {% for category in group.categories.all %}
                        <option value="{{ category.id }}" {% if category.id|slugify == category_id %}selected{% endif %}>{{ category.name }}</option>
                      {% endfor %}
                    </optgroup>
                  {% endfor %}
                </select>
              </div>
              

              </div>
              

      </form>
    
    <h2 class=" text-center m-3">Bläddra</h2>

        <div class="row">
            {% for item in items %}
            {% include 'core/list.html' %}
            {% endfor %}
        </div>


  </div>

{% endblock %}