{% extends 'core/base.html' %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

<div class="w1/2 my-6 mx-auto rounded m-3 p-5 text-dark border rounded shadow">
    <h1> {{ title }}</h1>
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-light me-2" onclick="this.disabled=true,this.form.submit();">Submit</button>
    </div>

{% if form.non_field_errors or form.errors %}
<div>
        {% for field in form %}
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        {{ form.none_field_error }}
</div>    </form>

{% endif %}
</div>

{% endblock  %}
    
    